body {
  height: 100vh;
}

img {
  display: block;
  margin-left: 40%;
  margin-top: 3%;
  width: 500px;
}

a {
  display: block;
  margin-top: 1%;
  padding: 10px 15px;
  width: 300px;
  color: red;
  margin-left: 45%;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

a:hover {
  background: grey;
  color: white;
}